@import "../../index.scss";

.user-details {
  color: $tertiary-color;

  &-header {
    display: flex;

    a {
      margin-left: 13px;
      text-decoration: none;
      color: $tertiary-color;

      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }

  &-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      margin-top: 26px;

      @media screen and (max-width: 600px) {
        font-size: 20px;
        margin-bottom: 10px;
      }
    }

    .user-details-button {
      @media screen and (max-width: 600px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
      }
    }

    button {
      font-weight: 600;
      font-size: 14px;
      letter-spacing: 0.1em;
      border-radius: 8px;

      @media screen and (max-width: 600px) {
        // display: flex;
        span {
          display: none;
        }
      }
    }

    .blacklist-button {
      color: #e4033b;
      padding: 12px 16px 11px 16px;
      border: 1px solid #e4033b;
    }

    .activate-button {
      color: #39cdcc;
      padding: 12px 22px 11px 22px;
      border: 1px solid #39cdcc;
      margin-left: 20px;
    }

    @media screen and (max-width: 600px) {
      flex-wrap: wrap;
    }
  }

  &-subheadings {
    margin-top: 46px;
    background: #ffffff;
    border: 1px solid rgba(33, 63, 125, 0.06);
    box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    padding: 30px 36px 0 30px;

    .user-info {
      display: flex;
      align-items: center;

      .user-image {
        border-radius: 100%;
        padding: 30px;

        @media screen and (max-width: 768px) {
          padding: 10px;
        }
      }

      .user-data {
        display: flex;
        justify-content: space-around;

        .user-name {
          padding: 0 29px 0 20px;
          border-right: 1px solid rgb(84, 95, 125, 0.2);
          font-weight: 500;
          font-size: 22px;

          h3 {
            font-weight: 500;
            font-size: 22px;
          }

          span {
            font-weight: 400;
            font-size: 14px;
            color: $tertiary-color;
          }

          @media screen and (max-width: 768px) {
            padding: 0 10px;
            font-size: 18px;
          }

          // @media screen and (max-width: 600px) {

          // }
        }

        .user-tier {
          padding: 0 30px;
          font-weight: 500;
          font-size: 14px;
          color: $tertiary-color;
          border-right: 1px solid rgb(84, 95, 125, 0.2);

          p {
            margin-bottom: 10px;
          }

          @media screen and (max-width: 768px) {
            padding: 0 10px;
            // font-size: 18px;
          }

          // @media screen and (max-width: 600px) {
          //   border-right: none;
          //   border-bottom: 1px solid rgb(84, 95, 125, 0.2);
          //   padding: 10px;
          // }
        }

        .user-account {
          padding-left: 30px;

          p {
            font-weight: 500;
            font-size: 22px;
            margin-bottom: 12px;
          }

          span {
            font-weight: 400;
            font-size: 12px;
          }

          @media screen and (max-width: 768px) {
            padding-left: 10px;
          }

          @media screen and (max-width: 600px) {
            margin: 10px 0;
            p {
              margin-bottom: 0;
            }
          }
        }

        @media screen and (max-width: 600px) {
          margin-left: 20px;
          flex-direction: column;

          .user-name,
          .user-tier {
            border-right: none;
            border-bottom: 1px solid rgb(84, 95, 125, 0.2);
            padding: 10px;
          }
        }
      }
    }
  }

  .user-tabs {
    select {
      display: none;

      @media screen and (max-width: 768px) {
        background-color: #ffffff;
        display: inline;
        width: 100%;
        padding: 10px;
        color: rgba(0, 0, 0, 0.8);
        border: 1px solid rgba(84, 95, 125, 0.14);
        box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
        border-radius: 4px;
        margin-bottom: 10px;
        font-weight: 500;
        font-size: 16px;
      }

      &:focus {
        outline: 1px solid rgba(84, 95, 125, 0.7);
      }
    }

    ul {
      display: flex;
      justify-content: space-around;
      margin-top: 51px;
      color: rgba(0, 0, 0, 0.8);
      text-decoration: none;

      li {
        padding-bottom: 10px;
      }

      @media screen and (max-width: 768px) {
        display: none;
      }
    }

    &-active {
      padding: 0 25px;
      color: $secondary-color;
      border-bottom: 2px solid $secondary-color;
    }
  }
}

.general-details {
  background-color: #ffffff;
  margin-top: 30px;
  margin-bottom: 153px;
  padding: 30px 30px 46px 30px;

  .personal-info {
    border-bottom: 1px solid rgb(33, 63, 125, 0.1);
    padding-bottom: 30px;

    h3 {
      font-weight: 500;
    }

    &-details {
      margin-top: 30px;
      display: grid;
      gap: 30px 99px;
      grid-template-columns: repeat(5, 1fr);
      color: $tertiary-color;

      @media screen and (max-width: 1440px) {
        grid-template-columns: repeat(3, 1fr);
      }

      @media screen and (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media screen and (max-width: 600px) {
        grid-template-columns: 1fr;
      }

      span {
        font-weight: 400;
        font-size: 12px;
      }

      p {
        font-weight: 500;
        margin-top: 8px;
      }
    }
  }

  .education-info {
    padding: 30px 0;
    border-bottom: 1px solid rgb(33, 63, 125, 0.1);
    h3 {
      font-weight: 500;
    }

    &-details {
      margin-top: 30px;
      display: grid;
      gap: 30px 99px;
      grid-template-columns: repeat(4, 1fr);
      color: $tertiary-color;

      @media screen and (max-width: 1024px) {
        grid-template-columns: repeat(3, 1fr);
        gap: 30px 100px;
      }

      @media screen and (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media screen and (max-width: 600px) {
        grid-template-columns: 1fr;
      }

      span {
        font-weight: 400;
        font-size: 12px;
      }

      p {
        font-weight: 500;
        margin-top: 8px;
      }
    }
  }

  .socials-info {
    padding: 30px 0;
    border-bottom: 1px solid rgb(33, 63, 125, 0.1);
    h3 {
      font-weight: 500;
    }

    &-details {
      margin-top: 30px;
      display: grid;
      gap: 0 80px;
      grid-template-columns: repeat(3, 1fr);
      color: $tertiary-color;

      @media screen and (max-width: 600px) {
        gap: 30px 80px;
        grid-template-columns: 1fr;
      }

      span {
        font-weight: 400;
        font-size: 12px;
      }

      p {
        font-weight: 500;
        margin-top: 8px;
      }
    }
  }

  .guarantor-info {
    padding: 30px 0;
    h3 {
      font-weight: 500;
    }

    &-details {
      margin-top: 30px;
      display: grid;
      gap: 0 100px;
      grid-template-columns: repeat(4, 1fr);
      color: $tertiary-color;

      @media screen and (max-width: 1024px) {
        grid-template-columns: repeat(3, 1fr);
        gap: 30px 100px;
      }

      @media screen and (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media screen and (max-width: 600px) {
        grid-template-columns: 1fr;
      }

      span {
        font-weight: 400;
        font-size: 12px;
      }

      p {
        font-weight: 500;
        margin-top: 8px;
      }
    }
  }
}
