@import "./index.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
* {
  font-family: $font-work;
}

.content {
  display: flex;
}

.outlet {
  padding: 60px 60px 266px 60px;
  width: 100%;
  background-color: #fbfbfb;
  color: $primary-color;
}

button {
  background-color: #fbfbfb;
}
