@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600&display=swap");

@font-face {
  font-family: "Avenir Next";
  font-weight: 400;
  src: url(./assets/fonts/AvenirNextLTPro-Regular.woff) format("woff");
}
@font-face {
  font-family: "Avenir Next";
  font-style: italic;
  src: url(./assets/fonts/AvenirNextLTPro-It.woff) format("woff");
}
@font-face {
  font-family: "Avenir Next";
  font-weight: 700;
  src: url(./assets/fonts/AvenirNextLTPro-Bold.woff) format("woff");
}

$font-work: "Work Sans", sans-serif;
$font-avenir: "Avenir Next", sans-serif;
$primary-color: #21407d;
$secondary-color: #39cdcc;
$tertiary-color: #545f7d;

img {
  max-width: 100%;
  height: auto;
}
